Options ExecCGI Indexes

DirectoryIndex index.fcgi index.rbx index.cgi
IndexOptions SuppressDescription SuppressLastModified SuppressSize

Order Deny,Allow
Deny from All

<FilesMatch "\.(cgi|fcgi|rbx)$">
Allow from All
</FilesMatch>

# following section enables indexing.
<FilesMatch "^$">
Allow from All
</FilesMatch>
